@import '../../styles/_colors'
@import '../../styles/_mixins'
.patients
    &__box
        @include flexboxColumn()
        background: $darkblue
        padding: 2rem 0
        margin-bottom: 2rem
        max-height: 25rem
        overflow-y: scroll
.add
    display: flex
    justify-content: center

@media screen and ( min-width: 600px )
    .patients
        &__box
            max-height: 30rem